@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


#MobileView {
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    display: none;
    z-index: 9999;
}



html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
img{
    height:auto;
}
.container {

    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}



.containermainpage {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBg 75s infinite;
    animation-timing-function: ease-in-out;
}


.mainpage {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(cardpics4/2.jpg);
}


.container--projects {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backgrounds/secondback.jpg);
}

.container--contact {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backgrounds/secondback.JPG);
}

.container--about {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backgrounds/lastback.JPG);
}

.container--customers {
    background-image: url(customerspic/logos.jpg);
}

.container--allprojects {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backgrounds/thirdback.JPG);
}



.card1 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(backgrounds/cityback.jpg);
}

.card2 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/basketballback.jpg);
}

.card3 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/industryback.jpg);
}

.card4 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/BSbuildback.jpg);
}

.card5 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/grandshomesback.jpg);
}

.card6 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/roadslightsback.jpg);
}

.card7 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(backgrounds/centerlogicback.jpg);
}

.card8 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)),url(backgrounds/waterparkback.jpg);
}

.resumePDF {
    width: 150%;
    height: 500px;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    z-index: 10000;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin: 0 30px;
        }

.navbar__link {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: box-shadow .5s ease-in-out;
}

    .navbar__link:hover {
        box-shadow: inset 200px 0 0 0 #757a80;
    }

.homelogo {
    height: 20px;
    margin: 0 40px;
    filter: invert(100%);
}


.englishlogo {
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-text-fill-color: transparent;
    animation: shine_english 4s;
    -webkit-background-clip: text;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
    background-size: 4000px;
}

.hebrewlogo {
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-text-fill-color: transparent;
    animation: shine_hebrew 4s;
    -webkit-background-clip: text;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
    background-size: 3500px;
}


.colproject {
    display: inline-grid;
    align-content: center;
    text-align: center;
}

.row-mobile {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 110%;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.rowmanager {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.row-contact {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.col {
    flex-basis: 50%;
}

.col-contact {
    top: 27px;
}

h1 {
    color: #fff;
    font-size: 80px;
    animation: fadeIn 2s;
}

p {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    animation: fadeIn 2s;
}




.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}



.card:hover {
    transform: translateY(-10px);
}


a.card {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #999;
}



.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    position: relative;
    animation: floatBubble 2s infinite normal ease-out;
    width: 40px;
    height: 40px;
    filter: invert(100%);
}



@keyframes floatBubble {
    0% {
        top: 50px;
    }

    100% {
        top: 0px;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes shine_english {
    0% {
        background-position: 400px;
    }


    100% {
        background-position: -400px;
    }
}

@keyframes shine_hebrew {
    0% {
        background-position: -500px;
    }


    100% {
        background-position: -40px;
    }
}


@keyframes slideBg {
    
 0% {
        background-image: url(cardpics8/3.jpeg)
    }
    20% {
        background-image: url(cardpics4/8.jpg)
    }


    40% {
        background-image: url(cardpics4/1.jpg)
    }

    60% {
        background-image: url(cardpics4/2.jpg)
    }

  
    80% {
        background-image: url(cardpics1/5.jpeg)
    }

   

    100% {
        background-image: url(cardpics5/4.jpg)
    }




}



@media screen and (max-width: 1360px) {
    h5 {
        display: none;
    }

@media screen and (max-width:1000px) {
    .row-contact {
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }


    #MobileView {
        position: fixed;
        width: 10000px;
        height: 10000px;
        display: block;
        left: -1%;
        background-color: #fff;
    }

    #UnderStruction {
        position: fixed;
        width: 100%;
    }

    .navbar {
        display: none;
    }
}
